<html>
  <head>
    <meta charset="utf-8" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css" />
    {{#each css}}
      <link rel="stylesheet" href="/css/{{this}}" />
    {{/each}}
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="main-header__item-list">
          <li class="main-header__item"><a
              class="{{ternary path EQUALS '/' 'active' ''}}"
              href="/"
            >Shop</a></li>
          <li class="main-header__item">
            <a href="/admin/add-product">Add Product</a>
          </li>
        </ul>
      </nav>
    </header>

    {{{body}}}

  </body>
</html>

{{!-- {{#if path EQUALS '/'}} "active" {{^}} "" {{/if}} --}}